.dialogs {
  width: 300px;
  height: 100%;
  background: white;
}
.dialog {
  position: relative;
  height: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: gray;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;

}
.dialogsItem {
  display: flex;
}
.profileImage {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px;
}

.name {
  margin-bottom: 5px;
  color: black;
}

.shortText {
  height: 37px;
  width: 160px;
}
.time {
  font-size: 12px;
  align-self: flex-start;
}
.time::before {
  position: absolute;
  //content: url('../../assets/icons/check.svg');
  bottom: 0;
  right: 10px;
}
.search {
  padding: 10px;
}