.chat {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "header header"
      "aside main";
  height: 100vh;
  width: 100%;
}

.chatAside {
  grid-area: aside;
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chatSearchForm {
  margin-bottom: 10px;
}

.chatMain {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding-top: 10px;
}

.chatMessage {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  background-color: #fff;
  overflow-y: auto;
  padding: 10px;
}

.chatInput {
  padding: 10px 0;
  background-color: #f1f1f1;
}

.chatInput form {
  display: flex;
  align-items: center;
}

.chatInput input[type="text"] {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
}

.icons {
  display: flex;
  align-items: center;

  > span {
    margin-right: 10px;
    opacity: .6;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}